---
import { humanize, slugify } from "@/lib/utils/textConverter";
import { FaTag } from "react-icons/fa";
const { tags } = Astro.props;
---

<li class="mr-4 inline-block">
  <FaTag className={"md:ml-4 -mt-1 inline-block"} />
  {
    tags && tags.length > 0 && tags.map((tag: string) => (
      <a
        class="m-1 rounded bg-theme-light px-3 py-1 hover:bg-primary hover:text-white dark:bg-darkmode-theme-light dark:hover:bg-darkmode-primary dark:hover:text-dark" 
        href={`/tags/${slugify(tag)}`}
      >
        {humanize(tag)}
      </a>
    ))
  }
</li>
