---
import TOCHeading from './TOCHeading.astro';

const { headings } = Astro.props;

const toc = buildHierarchy(headings);

function buildHierarchy(headings) {
  const toc = [];
  const parentHeadings = new Map();
  
  if (!headings) return toc;
  
  headings.forEach((h) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);
    if (heading.depth === 2) {
      toc.push(heading);
    } else {
      parentHeadings.get(heading.depth - 1).subheadings.push(heading);
    }
  });

  return toc;
}
---

<nav class="toc content mb-10">
  <h2>Table of Contents</h2>
  <ul>
    {toc.map((heading) => (
      <TOCHeading heading={heading} />
    ))}
  </ul>
</nav>