# --------------------- COMMON EXCLUSIONS -------------------------------------
# Sublime settings
sublime.sublime-project
sublime.sublime-workspace

# Pycharm files
.idea

# Python temporal files
*.pyc
**/__pycache__

# Jupyter temporal files
**/.ipynb_checkpoints

# Coverage info
*.coverage
**/cover
**/coverage.xml

# Unit test report
**/nosetests.xml

# Pylint ouput
**/pylint.xml

# Package files
**/build/
**/dist/
*.egg-info

# Executables
*.exe


# --------------------- PERSONAL EXCLUSIONS -----------------------------------
# Data folders
**/data


# --------------------- PROJECT EXCLUSIONS ------------------------------------
# Playground notebooks
*/test.ipynb

# Temp files
**/temp.md
**/temp.ipynb
