{% extends "page.html" %}

{% block image_parallax%}me_plotly.jpg{% endblock %}

{% block parallax_title1%} Who I am {% endblock %}
{% block parallax_title2%} A little bit of information about myself {% endblock %}

{% block page_content%}
  <!-- SECTION: A bit about me -->
  <div class="w3-padding-32 w3-content" style="max-width:1200px">
    <div class="w3-row">

      <!-- Short description -->
      <div class="w3-col m6 w3-padding-large">
        <h1>A Bit About Me</h1>
        <p>My name is Arnau Villoro and I am an engineer located in Barcelona. I love automating almost everything I can and I enjoy building things all by myself.</p>
        <p>I have an MS in Management and I am currently studying Artificial Intelligence. I am also working full time as an IT Consultant offering both managment and development services.</p>
        <p>When I am not with a computer I enjoy doing sports such as climbing and biking.</p>
      </div>

      <!-- Barcelona map -->
      <div class="w3-col m6 w3-padding-large" style="font-size:18px">
      </div>
    </div>
  </div>

  <!-- SECTION: goals -->
  <div class="v-color-grey">
    <div class="w3-padding-32 w3-content w3-text-white" style="max-width:1200px">
      <div class="w3-row">

        <!-- Short Term goals -->
        <div class="w3-col m6 w3-padding-large">
          <h1w>Short Term Goals</h1w>
          <p><i class="fa fa-check v-color-text-accent"></i> Finish my current studies in AI</p>
          <p><i class="fa fa-check v-color-text-accent"></i> Strengthen my software operations knowledge</p>
          <p><i class="fa fa-check v-color-text-accent"></i> Continue improving my development skills</p>
          <p><i class="fa fa-check v-color-text-accent"></i> Gain more experience managing big teams</p>
        </div>

        <!-- Long Term goals -->
        <div class="w3-col m6 w3-padding-large">
          <h1w>Long Term Goals</h1w>
          <p><i class="fa fa-check v-color-text-accent"></i> Become an AI Expert</p>
          <p><i class="fa fa-check v-color-text-accent"></i> Be able to create and deploy an AI project all by myself</p>
          <p><i class="fa fa-check v-color-text-accent"></i> Remain up to date with AI/technology</p>
          <p><i class="fa fa-check v-color-text-accent"></i> Get an AI related PhD</p>
        </div>
      </div>
    </div>
  </div>

  <!-- SECTION: My skills -->
  <div class="w3-padding-32 w3-content" style="max-width:1200px">
    <div class="w3-padding-large w3-text-black"> <!-- This helps having text aligned with other blocks (2 divs with padding) -->
      <h1>My Skills</h1>

      <!-- Iterate over skills json in order to create skills bars -->
      {% for group_name, group_data in skills.items() %}
      <div class="w3-padding-16">
        <h3>{{ group_name }}</h3>
        {% for skill_name, skill_data in group_data["skills"].items() %}
        <div class="v-color-light-grey" style="margin-bottom: 12px">
          <div class="w3-container {{ group_data["color"] }}{{ skill_data["color"]}}" style="height:24px;width:{{ skill_data["value"] }}%">
            {{ skill_name }}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}

    </div>
  </div>

  <!-- SECTION: tools -->
  <div class="v-color-light-grey">
    <div class="w3-padding-32 w3-content" style="max-width:1200px">
      <div class="w3-padding-large"> <!-- This helps having text aligned with other blocks (2 divs with padding) -->
        <h1>Tools</h1>
        <h6>These are the tools/services I normally use.</h6>

        <div class="w3-row" style="padding-top: 32px">
          {% for tool_name, tool_url in tools.items() %}
          <div class="w3-col l2 m4 s6 w3-padding w3-center">
            <!-- Tool image and link -->
            <a href="{{ tool_url }}">
              <img src="{{ url_for("static", filename="images/tools/{}.png".format(tool_name)) }}"" alt="{{ tool_name }}" style="width: 100%; max-width: 96px;">
            </a>

            <!-- Tool name -->
            <div class="w3-container">
              <h5>{{ tool_name.title() }}</h5>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>

{% endblock %}