{% extends "page.html" %}

{% block page_content%}
  <!-- SECTION: A bit about me -->
  <div class="w3-padding-32 w3-content" style="max-width:1200px">
    <div class="w3-row">

      <!-- Short description -->
      <div class="w3-col m6 w3-padding-large">
        <!-- Raw html block -->
        {% autoescape false %} {{ about_markdown }} {% endautoescape %}
      </div>

      <!-- Barcelona map -->
      <div class="w3-col m6 w3-padding-large w3-center">
        <img src="{{ url_for('static', filename='images/pages/me.png') }}"
             class="w3-image w3-round-large"
             alt="arnau-villoro"
             style="width: 100%; max-width: 300px;">
      </div>
    </div>
  </div>

  <!-- SECTION: goals -->
  <div class="v-color-contrast">
    <div class="w3-padding-32 w3-content" style="max-width:1200px">
      <div class="w3-row">

        <!-- Short Term goals -->
        <div class="w3-col m6 w3-padding-large v-text">
          <h1>Short Term Goals</h1>
          {% for goal in goals["short_term"] %}
          <p><i class="fa fa-check v-color-text-accent"></i> {{ goal }} </p>
          {% endfor %}
        </div>

        <!-- Long Term goals -->
        <div class="w3-col m6 w3-padding-large v-text">
          <h1>Long Term Goals</h1>
          {% for goal in goals["long_term"] %}
          <p><i class="fa fa-check v-color-text-accent"></i> {{ goal }} </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- SECTION: My skills -->
  <div class="w3-padding-32 w3-content" style="max-width:1200px">
    <div class="w3-text-black w3-row"> <!-- This helps having text aligned with other blocks (2 divs with padding) -->

      <h1 style="padding-left: 24px">My Skills</h1>

      <!-- Iterate over skills json in order to create skills bars -->
      {% for group_name, group_data in skills.items() %}
      <div class="w3-padding-large w3-col l6 m6 s12">
        <h3>{{ group_name }}</h3>
        {% for skill_name, skill_data in group_data["skills"].items() %}
        <div class="v-color-light-grey" style="margin-bottom: 12px;">
          <div class="w3-container {{ group_data['color'] }}{{ skill_data['color']}}"
               style="height:24px;width:{{ skill_data['value'] }}%">
            {{ skill_name }}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}

    </div>
  </div>

  <!-- SECTION: tools -->
  <div class="v-color-light-grey">
    <div class="w3-padding-32 w3-content" style="max-width:1200px">
      <div class="w3-padding-large"> <!-- This helps having text aligned with other blocks (2 divs with padding) -->
        <h1>Tools</h1>
        <h6>These are the tools/services I usually use.</h6>

      </div>


      <div class="w3-row">

        {% for group_name, group_data in tools.items() %}
          <div class="w3-col l6 m6 s12 w3-padding">

            <div class="w3-border w3-round w3-padding">
              
              <h3>{{ group_name }}</h3>
              <div class="w3-row">

                {% for tool_name, tool_url in group_data.items() %}
                <div class="w3-col l4 m4 s4 w3-padding-small w3-center">
                  <!-- Tool image and link -->
                  <a href="{{ tool_url }}">
                    <img src="{{ url_for('static', filename='images/tools/{}.png'.format(tool_name.lower().replace(' ', '_'))) }}"
                         alt="{{ tool_name }}"
                         style="width: 100%; max-width: 96px;">
                  </a>

                  <!-- Tool name -->
                  <div class="w3-container">
                    <h6>{{ tool_name }}</h6>
                  </div>

                </div>
                {% endfor %}

              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>

{% endblock %}
