<!DOCTYPE html>
<html lang="en">
<title>Villoro</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  .vblue{color:#fff!important;background-color:#2176ff!important}
  .vgray{color:#fff!important;background-color:#616161!important}
</style>

<body>
  <div class="w3-top">
    <div class="w3-bar vgray w3-card w3-left-align w3-large">
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Home</a>

      <!-- Navigation regular screens -->
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 1</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 2</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 3</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 4</a>

      <!-- Toggle navbar on small screens -->
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-blue w3-large vgray" href="javascript:void(0);"onclick="myFunction()" title="Toggle Navigation Menu">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navSmall" class="w3-bar-block vgray w3-card w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-border-top">Link 1</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-border-top">Link 2</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-border-top">Link 3</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-border-top">Link 4</a>
    </div>
  </div>


  <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navSmall");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else { 
            x.className = x.className.replace(" w3-show", "");
        }
    }
  </script>
</body>
</html>