<!DOCTYPE html>
<html lang="en">
  <title>{{ html_tab_title | replace("_", " ") }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116253568-1"></script>
  <script>
    /* Only track the page when it is in the main domain. No develop.villoro.com or localhost */
    if (window.location.host==="villoro.com" || window.location.host==="www.villoro.com") {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-116253568-1');
    }
  </script>

  <!-- Common scripts -->
  {% if use_plotly %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  {% endif %}
  {% if use_chartjs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  {% endif %}

  {% block raw_scripts %}{% endblock %}

  <!-- W3.css for styling: https://www.w3schools.com/w3css/4/w3.css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">

  <!-- Material colors -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/material-colors.css') }}">

  <!-- Custom styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/villoro.css') }}">

  <!-- Code styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/friendly.css') }}">

  <!-- Google Fonts: Roboto 400,500 and Raleway -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto" rel="stylesheet">

  <!-- Icons font -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Add children styles -->
  {% block style %}{% endblock %}

  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>

  <body>
    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-left-align w3-large {% block navbar_classes %}v-color-header{% endblock %}" id="navbar">
        <!-- Villoro logo -->
        <a href="{{ url_for('home') }}">
          <img src="{{ url_for('static', filename='images/logo_white_40.png') }}" class="w3-bar-item w3-button" alt="Logo">
        </a>

        <!-- Navigation regular screens -->
        <div class="w3-right w3-hide-small">
          <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white w3-text-white">Home</a>
          <a href="{{ url_for('about') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white w3-text-white">About <x class="w3-hide-medium">me</x></a> <!-- crop text to fit medium screens -->
          <a href="{{ url_for('portfolio') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white w3-text-white">Portfolio</a>
          <a href="{{ url_for('blog') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white w3-text-white">Blog</a>
        </div>

        <!-- Sidebar three bars button on small screens -->
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-large w3-text-white"
              href="javascript:void(0);" onclick="sidebar_open()" title="Toggle Navigation Menu">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

    <!-- Sidebar on small screens -->
    <div id="sidebar" class="w3-sidebar w3-bar-block w3-animate-right" style="display:none; z-index:5; right:0">
      <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-padding-large w3-border-bottom">Home</a>
      <a href="{{ url_for('about') }}" class="w3-bar-item w3-button w3-padding-large w3-border-bottom">About me</a>
      <a href="{{ url_for('portfolio') }}" class="w3-bar-item w3-button w3-padding-large w3-border-bottom">Portfolio</a>
      <a href="{{ url_for('blog') }}" class="w3-bar-item w3-button w3-padding-large w3-border-bottom">Blog</a>
    </div>

    <!-- Overlay -->
    <div class="w3-overlay w3-animate-opacity" onclick="sidebar_close()" style="cursor:pointer" id="overlay"></div>

    <!-- Add children body -->
    {% block body %}{% endblock %}

    <!-- Footer with 3 columns (on medium/big screens) -->
    <footer class="w3-container w3-center w3-row v-color-footer w3-padding-large w3-text-white">
      <div class="w3-col m4">
        Made by Villoro (<a href="mailto:arnau@villoro.com" class="w3-hover-opacity" style="color:#fff!important">arnau@villoro.com</a>)
      </div>

      <div class="w3-col m4">
        You can fork it on <a href="https://github.com/villoro/villoro.com" class="w3-hover-opacity" style="color:#fff!important">github</a> if you like it
      </div>

      <!-- Github/linkedin links -->
      <div class="w3-col m4">
        <a href="https://github.com/villoro" style="color: #fff!important; text-decoration: none">
          <i class="fa fa-github w3-hover-opacity w3-xlarge" style="padding-right: 16px"></i>
        </a>

        <a href="https://www.linkedin.com/in/villoro/" style="color: #fff!important; text-decoration: none">
          <i class="fa fa-linkedin w3-hover-opacity w3-xlarge" style="padding-right: 16px"></i>
        </a>

        <a href="https://twitter.com/ArnauVilloro" style="color: #fff!important; text-decoration: none">
          <i class="fa fa-twitter w3-hover-opacity w3-xlarge"></i>
        </a>
      </div>
    </footer>

    <script>
      // Open sidebar (only for small screens)
      function sidebar_open() {
          document.getElementById("sidebar").style.display = "block";
          document.getElementById("overlay").style.display = "block";
      }
      // Close sidebar (only for small screens)
      function sidebar_close() {
          document.getElementById("sidebar").style.display = "none";
          document.getElementById("overlay").style.display = "none";
      }
    </script>

    <!-- Add children scripts -->
    {% block script_lv1 %}{% endblock %}
    {% block script_lv2 %}{% endblock %}
    {% block script_lv3 %}{% endblock %}

  </body>
</html>