{% extends "page_filters.html" %}


<!-- Google search div -->
{% block google_search_bar%}
<div>
  <gcse:search></gcse:search>
</div>
{% endblock %}


{% block grid_items%}
<div>
  {% for post in blog.values() %}
  <div class="w3-row w3-hover-shadow w3-padding-large v-filterable {{ ' '.join(post['tags_filter']) }}">

    <a href="{{ url_for('post', item="{}.html".format(post["code"])) }}">
    <!-- Image at left (except small screens) -->
    <div class="w3-col l2 m4 s5 w3-center v-padding-small w3-hide-small">
      <img src="{{ url_for("static", filename="images/blog/{}".format(post["image"])) }}""
           alt="{{ tool }}"
           class="w3-image">
    </div>

    <!-- Summary at right -->
    <div class="w3-col l10 m8 s12 w3-padding">
      <div class="w3-row">
        <div class="w3-col l6 m6 s12">
          <h3> {{ post["title"] }} </h3>
        </div>

        <!-- On medium and large screens show date at right-->
        <div class="w3-col l6 m6 w3-hide-small w3-right-align">
          <h4> <i class="fa fa-clock-o"></i> {{ post["date"] }} </h4>
        </div>
      </div>

      <!-- On small screens show date below title -->
      <div class="w3-hide-medium w3-hide-large" style="margin-top: -15px">
        <p class="v-color-text-accent">
          <i class="fa fa-clock-o"></i> {{ post["date"] }}
        </p>
      </div>

      <!-- Preview of the post -->
      <p class="v-text"> {{ post["brief"] }} </p>

    </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}

<!-- Google search code -->
{% block script_lv3 %}
<script>
  (function() {
    var cx = '013808806325250472388:6ih9rrzbcvi';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
{% endblock %}
