{% extends "page.html" %}

{% block image_parallax%}me_thinking.jpg{% endblock %}
{% block parallax_min_heightx%}100%{% endblock %}

{% block parallax_title1%} Hi, I am Arnau Villoro {% endblock %}
{% block parallax_title2%} Trust me, I'm an engineer :) {% endblock %}

{% block page_content%}
  <!-- Who I am part -->
  <div class="w3-padding-32 w3-content" style="max-width:1600px">
    <div class="w3-row">

      <!-- Word cloud image -->
      <div class="w3-col m6 w3-padding-large w3-center">
        <img src="static/images/word_cloud.png" class="w3-image" alt="word_cloud" style="width: 100%; max-width: 600px;">
      </div>

      <!-- Short description -->
      <div class="w3-col m6 w3-padding-large" style="font-size:18px">
        <h1>Who I Am</h1>
        <p><i class="fa fa-check v-text-theme"></i> Experience as an IT Consultant</p>
        <p><i class="fa fa-check v-text-theme"></i> Strong engineering foundations</p>
        <p><i class="fa fa-check v-text-theme"></i> Python Developer enthusiast</p>
        <p><i class="fa fa-check v-text-theme"></i> Deep Learning knowledge</p>
      </div>
    </div>
  </div>
{% endblock %}