{% extends "page.html" %}

{% block image_parallax%}me_thinking.jpg{% endblock %}
{% block parallax_min_heightx%}100%{% endblock %}

{% block parallax_title1%} Hi, I am Arnau Villoro {% endblock %}
{% block parallax_title2%} Trust me, I'm an engineer :) {% endblock %}

{% block page_content%}
  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-half w3-display-container">
        <img src="static/images/word_cloud.png" alt="word_cloud" style="width:100%">
      </div>
      <div class="w3-half">
        <h1>Who I Am</h1>
        <h5><i class="fa fa-check v-text-theme"></i> Experience as an IT Consultant</h5>
        <h5><i class="fa fa-check v-text-theme"></i> Strong engineering foundations</h5>
        <h5><i class="fa fa-check v-text-theme"></i> Python Developer enthusiast</h5>
        <h5><i class="fa fa-check v-text-theme"></i> Deep Learning knowledge</h5>
        <ul>
          <li>Experience as an IT Consultant</li>
          <li>Strong engineering foundations</li>
          <li>Python Developer enthusiast</li>
          <li>Deep Learning knowledge</li>
        </ul>

      </div>
    </div>
  </div>
{% endblock %}