{% extends "page.html" %}

{% block page_content%}
  <!-- SECTION: Who I am -->
  <div class="w3-padding-32 w3-content" style="max-width:1200px">
    <div class="w3-row">

      <!-- Word cloud image -->
      <div class="w3-col m6 w3-padding-large w3-center w3-hide-small">
        <img src="{{ url_for('static', filename='images/pages/barcelona-guernica.jpg') }}" class="w3-image w3-round-large w3-border-black" alt="barcelona-guernica" style="width: 100%; max-width: 600px;">
      </div>

      <!-- Short description -->
      <div class="w3-col m6 w3-padding-large">
        <h1>Who I Am</h1>
        <p> {{ short_description }} </p>

        {% for bullet in bullets %}
        <p><i class="fa fa-check v-color-text-accent"></i> {{ bullet }} </p>
        {% endfor %}

        <!-- Button to about page -->
        <div class="w3-padding-32">
          <a href="{{ url_for('about') }}" class="w3-button v-color-accent w3-round-xxlarge w3-hover-amber">
            Learn more <i class="fa fa-angle-right"></i>
          </a>
        </div>

      </div>

    </div>
  </div>

  <!-- SECTION: portfolio -->
  <div class="v-color-light-grey">
    <div class="w3-padding-32 w3-content" style="max-width:1200px">
      <div class="w3-padding-large"> <!-- This helps having text aligned with other blocks (2 divs with padding) -->
        
        <!-- container with titles and link -->
        <div class="w3-row">
          <div class="w3-left">
            <h1>Portfolio</h1>
          </div>

          <!-- Button to project page -->
          <div class="w3-right" style="padding-top: 20px">
            <a href="{{ url_for('portfolio') }}" class="w3-button v-color-accent w3-round-xxlarge w3-hover-amber">
              All projects <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>

        <div class="w3-row">
          <p>Take a look at some of my projects.</p>
        </div>

        <div class="w3-row" style="padding-top: 32px">
          {% for port in portfolio.values() %}
          <div class="w3-col l3 m6 s12 w3-padding w3-center">
            <div class="w3-border w3-round w3-image w3-hover-border-black w3-hover-shadow w3-hover-grayscale v-color-light-grey">
              <!-- Image -->
              <a href="{{ url_for('portfolio_item', item='{}.html'.format(port['code'])) }}">
                <img src="{{ url_for('static', filename='images/portfolio/{}'.format(port['image_square'])) }}" alt="{{ port['title'] }}" class="v-round-image">
              </a>

              <!-- Title, date and caption -->
              <div class="w3-padding-small w3-text-black" style="z-index:4">{{ port.get("title_short", port["title"]) }}</div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>

  <!-- SECTION: blog -->
  <div class="w3-padding-32 w3-content" style="max-width:1200px">
    <div class="w3-padding-large"> <!-- This helps having text aligned with other blocks (2 divs with padding) -->
    
    <div class="w3-row">
      <div class="w3-left">
        <h1>Blog</h1>
      </div>

      <!-- Button to project page -->
      <div class="w3-right" style="padding-top: 20px">
        <a href="{{ url_for('blog') }}" class="w3-button v-color-accent w3-round-xxlarge w3-hover-amber">
          All posts <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>

    <div class="w3-row" style="padding-top: 32px">
      {% for post in blog.values() %}
      <div class="w3-col l3 m6 s12 w3-padding w3-center">
        <div class="w3-border w3-round w3-image w3-hover-border-black w3-hover-shadow w3-hover-grayscale">
          <!-- Image -->
          <a href="{{ url_for('post', item='{}.html'.format(post['code'])) }}">
            <img src="{{ url_for('static', filename='images/blog/{}'.format(post['image'])) }}" alt="{{ post['title'] }}" class="v-round-image">
          </a>

          <!-- Title, date and caption -->
          <div class="w3-padding-small w3-text-black" style="z-index:4">
            <h6>{{ post.get("title_short", post["title"]) }}</h6>
            <p class=" v-color-text-grey"> <i class="fa fa-clock-o"></i> {{ post["date"] }} </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    </div>
  </div>
{% endblock %}
