{% extends "page.html" %}

{% block page_content%}
  
  <!-- SECTION: portfolio -->
  <div class="w3-padding-32 w3-content" style="max-width:1200px">

    <div class="w3-padding-large"> <!-- This helps having text aligned with other blocks (2 divs with padding) -->

      <h1>{{ page_title }}</h1>
      <p>{{ page_subtitle }}</p>

      <!-- Filtering buttons -->
      <div id="buttonsContainer">
        <button class="v-filter-button w3-round-large active"
                style="margin-bottom: 8px; margin-right: 24px;"
                onclick="filterSelection('all')">
          Show all
        </button>

        <!-- List of tags -->
        {% for tag in tags %}
          <button class="v-filter-button w3-round-large"
                  style="margin-bottom: 8px;"
                  onclick="filterSelection( '{{ tag }}' )">
            {{ tag }}
          </button>
        {% endfor %}
      </div>

    </div>

    {% block grid_items%} {% endblock %}

  </div>
{% endblock %}


{% block script_lv2 %}
  <script>
    filterSelection("all")
    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("v-filterable");
      if (c == "all") c = "";
      for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
      }
    }

    function w3AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
      }
    }

    function w3RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);     
        }
      }
      element.className = arr1.join(" ");
    }

    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("buttonsContainer");
    var btns = btnContainer.getElementsByClassName("v-filter-button");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
  </script>
{% endblock %}