{% extends "page.html" %}

{% block image_parallax%}me_tensorboard.jpg{% endblock %}

{% block parallax_title1%} My projects {% endblock %}
{% block parallax_title2%} A sample of my most relevant work {% endblock %}

{% block page_content%}
  <!-- Header -->
  <header class="w3-container w3-yellow w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">START PAGE</h1>
    <p class="w3-xlarge">Template by w3.css</p>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
  </header>
{% endblock %}