{% extends "base.html" %}

{% block body %}
  <!-- spacer -->
  <div style="padding-top: 64px"></div>

  <!-- SECTION: title -->
  <div class="w3-padding-32 w3-content" style="max-width:1200px">

    <!-- title and subtitle -->
    <div class="w3-padding-large"> <!-- This helps having text aligned with other blocks (2 divs with padding) -->
      <!-- container with titles and link -->
      <div class="w3-row">
        <div class="w3-left">
          <h1>{{ title }}</h1>
          
        </div>

        {% if link %}
        <!-- Button with more info -->
        <div class="w3-right" style="padding-top: 20px">
          <a href="{{ link.get("url") }}" class="w3-button v-color-accent w3-round-xxlarge w3-hover-amber">
            {{ link.get("text", "More info") }} <i class="fa fa-angle-right"></i>
          </a>
        </div>
        {% endif %}
      </div>

      <!-- Date -->
      <div class="w3-row">
        <p>{{ date }}</p>
      </div>

      <!-- Content -->
      {% autoescape false %} {{ content }} {% endautoescape %}
    </div>
  </div>

{% endblock %}