/* ----------------------- Basic layout ----------------------------------------------------------*/
/* Used by parallax efect */
body, html {
    height: 100%;
    color: #444444;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
}


/* ----------------------- Custom colors ---------------------------------------------------------
    Theme color:    #2176FF
    Contrast color: #FFCA28
    Other colors are grays from material colors
*/

.v-text {color: #444444!important;}
.v-color-text-grey{color: #9E9E9E!important;} /* Gray 600 */
.v-color-text-accent{color: #2176FF!important;}

.v-color-accent{color:#fff!important;background-color:#2176FF!important}
.v-color-contrast{color:#fff!important;background-color:#FFCA28!important}
.v-color-header{background-color:#616161!important} /* Gray 700 */
.v-color-footer{background-color:#616161!important} /* Gray 700 */
.v-color-grey{background-color:#303845!important}
.v-color-light-grey{background-color:#F5F5F5!important} /* Gray 100 */


/* ----------------------- Titles ----------------------------------------------------------------
    Override w3 titles sizes 
*/

/* Large screens */
@media screen and (min-width: 601px) {
    h1 {font-size: 42px}
    h2 {font-size: 36px}
    h3 {font-size: 30px}
    h4 {font-size: 24px}
    h5 {font-size: 20px}
    h6 {font-size: 18px}
    body, html {font-size: 16px}
    blockquote {font-size: 16px}
}

/* Small screens */
@media screen and (max-width: 600px) {
    h1 {font-size: 36px}
    h2 {font-size: 30px}
    h3 {font-size: 24px}
    h4 {font-size: 20px}
    h5 {font-size: 18px}
    h6 {font-size: 16px}
    body, html {font-size: 14px}
    blockquote {font-size: 14px}
}

/* Titles styles */
h1,h2,h3,h4,h5,h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin:10px 0;
    display: block;
}

/* Use theme-gray color for titles */
h1,h2,h3,h4,h5,h6 {color:#424242!important} /* Gray 800 */


/* ----------------------- Paddings --------------------------------------------------------------*/
.v-padding-small{padding:8px 8px!important}
.v-padding-8h{padding-left: 8px; padding-right: 8px;}
.v-padding-16h{padding-left: 16px; padding-right: 16px;}
.v-padding-24h{padding-left: 24px; padding-right: 24px;}


/* ----------------------- Markdown related styles -----------------------------------------------*/
blockquote {
  font-family: "Open Sans", sans-serif;
  border-left: .25em solid #2176FF; /* Github color #DFE2E5*/
  background-color: #f7fcff; /* Really dim blue */
  color: #455A64;
  padding: 0 1em;
  margin: 0;
}

code, .input, .output {
  font-size: 85%;
  margin: 0;
}

code {
  background-color: rgba(27,31,35,.05);
  padding: .2em .4em;
}

.input, .output {
  font-family: "monospace", sans-serif;
  padding: .2em .2em;
}

.input { 
  background-color: #E0E0E0; /* gray 300 */
  padding-left: 10px;
  text-align: center;
}

.output {  
  background-color: #FFFDE7; /* yellow 50 */
}

.output-red {
  background-color: #FFEBEE; /* red 50 */
}


/* ----------------------- Tables ----------------------------------------------------------------*/
.v-table {
  border: 1px solid #444444;
  border-collapse: collapse;
}

.v-table-header {
  background-color:#64B5F6 /* blue 300 */
}

.v-table-header2 {
  background-color:#90CAF9 /* blue 200 */
}

.v-table th, .v-table td {
  padding: 5px 5px;
  border: 1px solid #444444;
}

.v-table-left {
  text-align: left;
}

.v-table-center {
  text-align: center;
}

.v-table-right {
  text-align: right;
}


/* ----------------------- Filters ---------------------------------------------------------------*/
.v-filter-button{
  border:none;
  display:inline-block;
  padding:0px 8px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
}

.v-filter-button.active {
  background-color: #2176FF; /* theme color */
  color: white;
}

.v-filter-button:hover {
  background-color: #FFCA28; /* contrast color */
  color: white;
}

.v-filterable {
  display: none;
}

.show {
  display: block;
}


/* ----------------------- Other -----------------------------------------------------------------*/
/* change link colors */
a {color:#2176FF}
a:hover {color:#FFCA28}

.v-round-image{
  width:100%;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}

video {
  width: 100%;
  max-width: 1200px;
}
