{% extends "page_filters.html" %}

{% block grid_items%}
<!-- Google search div -->
<div class="w3-padding-small">
  <gcse:search></gcse:search>
</div>

<div class="w3-row" style="padding-top: 32px">
  {% for post in blog.values() %}
  <div class="w3-col l3 m6 s12 w3-padding w3-center v-filterable {{ ' '.join(post['tags_filter']) }}"
       style="margin-bottom: 16px">

    <!-- one card for each project -->
    <div class="w3-border w3-round w3-image w3-hover-border-black w3-hover-shadow w3-hover-grayscale">
      <!-- Image -->
      <a href="{{ url_for('post', item='{}.html'.format(post['code'])) }}">
        <img src="{{ url_for('static', filename='images/blog/{}'.format(post['image'])) }}" alt="{{ post['title'] }}" class="v-round-image">
      </a>

      <!-- Title, date and caption -->
      <div class="w3-padding-small w3-text-black" style="z-index:4">
        <h6>{{ post.get("title_short", post["title"]) }}</h6>
        <p class=" v-color-text-grey"> <i class="fa fa-clock-o"></i> {{ post["date"] }} </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

<!-- Google search code -->
{% block script_lv3 %}
<script>
  (function() {
    var cx = '013808806325250472388:6ih9rrzbcvi';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
{% endblock %}
