{% extends "base.html" %}

/* delete navbar color because of parallax efect */
{% block navbar_classes %}{% endblock %}

{% block style %}
<style>
  /* Create a Parallax Effect */
  .bgimg{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('static/images/pages/{{ image_parallax }}');
    min-height: {{ parallax_min_height or '75%' }};
  }

  /* Turn off parallax scrolling for tablets and phones */
  @media (max-device-width: 1000px) and (orientation: portrait) {
    .bgimg{
        background-attachment: scroll;
        min-height: 400px;
    }
  }
</style>
{% endblock %}

{% block body %}
  <!-- First Parallax Image with Logo Text -->
  <div class="bgimg w3-display-container" id="home">
    <div class="w3-display-middle">
      <h1 class="w3-center w3-text-white">{{ parallax_title1 }}</h1>
      <h5 class="w3-center w3-text-white">{{ parallax_title2 }}</h5>
    </div>
  </div>

  {% block page_content%}{% endblock %}
{% endblock %}


{% block script_lv1 %}
  <script>
    // Change style of navbar on scroll
    window.onscroll = function() {hide_show_navbar_border()};
    function hide_show_navbar_border() {
        var mclasses = " w3-card v-color-header w3-animate-opacity"
        var navbar = document.getElementById("navbar");
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            if (!navbar.className.includes(mclasses)) {
                navbar.className += mclasses;
            }
        } else {
            navbar.className = navbar.className.replace(mclasses, "");
        }
    }
  </script>
{% endblock %}