{% extends "base.html" %}

{% block body %}
  <!-- spacer -->
  <div style="padding-top: 64px"></div>

  <!-- SECTION: title -->
  <div class="w3-padding-32 w3-content" style="max-width:1200px">

    <!-- Content -->
    <div class="w3-padding-large"> <!-- This helps having text aligned with other blocks (2 divs with padding) -->

      <!-- container with titles and link -->
      <div class="w3-row">
        <div class="w3-left">
          <h1>
            {{ title }}
          </h1>
        </div>

        {% if link %}
        <!-- Button with more info in large or medium screens -->
        <div class="w3-right w3-hide-small" style="padding-top: 20px">
          <a href="{{ link.get('url') }}" class="w3-button v-color-accent w3-round-xxlarge w3-hover-amber">
            {{ link.get("text", "More info") }} <i class="fa fa-angle-right"></i>
          </a>
        </div>
        {% endif %}
      </div>

      {% if link %}
      <!-- Button with more info in small screens -->
      <div class="w3-center w3-hide-medium w3-hide-large w3-padding-large">
        <a href="{{ link.get('url') }}" class="w3-button v-color-accent w3-round-xxlarge w3-hover-amber">
          {{ link.get("text", "More info") }} <i class="fa fa-angle-right"></i>
        </a>
      </div>
      {% endif %}

      <!-- Date and tags -->
      <div class="w3-row w3-left v-color-text-grey">

        <!-- Date creation -->
        <span style="margin-right: 10px"> <i class="fa fa-clock-o"></i> {{ date }}</span>

        <!-- On small screens set date and tags in different lines -->
        <div class="w3-hide-medium w3-hide-large"></div>

        <!-- Tags -->
        {% if tags %}
          {% for x in tags %}
            <span class="w3-tag v-color-accent">{{ x }}</span>
          {% endfor %}
        {% endif %}
      </div>

      <!-- Add some separation -->
      <br><br>

      <hr>

      {% if image_head %}
        <div class="w3-center" style="padding-top: 16px;">
          <img src="/static/images/blog/{{ image_head['filename'] }}" alt="{{ image_head['caption'] }}" class="w3-image w3-padding-16"/>
        </div>
      {% endif %}

      <!-- Content -->
      {% autoescape false %} {{ content_markdown }} {% endautoescape %}

      <!-- Subscribe link -->
      <div class="w3-center w3-padding-large">
        <a href="http://eepurl.com/ghAetb" class="w3-button v-color-accent w3-round-xxlarge w3-hover-amber">
          Subscribe to the mailing list <i class="fa fa-angle-right"></i>
        </a>
        
      </div>

      <hr>
      <!-- Comments section -->
      <div id="disqus_thread" style="padding-top: 20px"></div>

    </div>
  </div>
{% endblock %}


<!-- Disqus code -->
{% block script_lv1 %}
  <script>
    var disqus_config = function () {
      this.page.url = 'http://villoro.com/post/{{ code }}';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '{{ code }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://villoro.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
{% endblock %}


<!-- If there are extra scripts include them -->
{% block script_lv2 %}
  {% autoescape false %} {{ scripts }} {% endautoescape %}
{% endblock %}
