---
import config from "@/config/config.json";
import BlogCard from "@/components/BlogCard.astro";
import BlogTags from "@/components/BlogTags.astro";
import Pagination from "@/components/Pagination.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
const { blog_folder } = config.settings;

// get static paths for all tags
export async function getStaticPaths() {
  const FOLDER = "blog";
  const tags = await getTaxonomy(FOLDER, "tags");

  return tags.map((tag) => {
    return {
      params: { tag },
    };
  });
}

const { tag } = Astro.params;

// get items by tag
const items = await getSinglePage(blog_folder);
const filterByTags = taxonomyFilter(items, "tags", tag!);
const sortedPosts = sortByDate(filterByTags);
const totalPages: number = Math.ceil(sortedPosts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base title={"Tag " + tag}>
  <section class="section pt-6 md:pt-14">
    <BlogTags />
    
    <!-- Posts -->
    <div class="container">
      <div class="row">
        {
          currentPosts.map((item, index) => (
            <div class="mb-14 md:col-6 lg:col-4" key={index}>
              <BlogCard data={item} loading={index < 6 ? "eager" : "lazy"} />
            </div>
          ))
        }
      </div>
      <Pagination
        section={blog_folder}
        currentPage={1}
        totalPages={totalPages}
      />
    </div>
  </section>
</Base>
