/* Colors from https://material.io/design/color/the-color-system.html#color-usage-palettes */

/* red */
.red50 {background-color:#FFEBEE!important}
.red100{background-color:#FFCDD2!important}
.red200{background-color:#EF9A9A!important}
.red300{background-color:#E57373!important}
.red400{background-color:#EF5350!important}
.red500{background-color:#F44336!important}
.red600{background-color:#E53935!important}
.red700{background-color:#D32F2F!important}
.red800{background-color:#C62828!important}
.red900{background-color:#B71C1C!important}

/* pink */
.pink50 {background-color:#FCE4EC!important}
.pink100{background-color:#F8BBD0!important}
.pink200{background-color:#F48FB1!important}
.pink300{background-color:#F06292!important}
.pink400{background-color:#EC407A!important}
.pink500{background-color:#E91E63!important}
.pink600{background-color:#D81B60!important}
.pink700{background-color:#C2185B!important}
.pink800{background-color:#AD1457!important}
.pink900{background-color:#880E4F!important}

/* purple */
.purple50 {background-color:#F3E5F5!important}
.purple100{background-color:#E1BEE7!important}
.purple200{background-color:#CE93D8!important}
.purple300{background-color:#BA68C8!important}
.purple400{background-color:#AB47BC!important}
.purple500{background-color:#9C27B0!important}
.purple600{background-color:#8E24AA!important}
.purple700{background-color:#7B1FA2!important}
.purple800{background-color:#6A1B9A!important}
.purple900{background-color:#4A148C!important}

/* deep purple */
.deep_purple50 {background-color:#EDE7F6!important}
.deep_purple100{background-color:#D1C4E9!important}
.deep_purple200{background-color:#B39DDB!important}
.deep_purple300{background-color:#9575CD!important}
.deep_purple400{background-color:#7E57C2!important}
.deep_purple500{background-color:#673AB7!important}
.deep_purple600{background-color:#5E35B1!important}
.deep_purple700{background-color:#512DA8!important}
.deep_purple800{background-color:#4527A0!important}
.deep_purple900{background-color:#311B92!important}

/* indigo */
.indigo50 {background-color:#E8EAF6!important}
.indigo100{background-color:#C5CAE9!important}
.indigo200{background-color:#9FA8DA!important}
.indigo300{background-color:#7986CB!important}
.indigo400{background-color:#5C6BC0!important}
.indigo500{background-color:#3F51B5!important}
.indigo600{background-color:#3949AB!important}
.indigo700{background-color:#303F9F!important}
.indigo800{background-color:#283593!important}
.indigo900{background-color:#1A237E!important}

/* blue */
.blue50 {background-color:#E3F2FD!important}
.blue100{background-color:#BBDEFB!important}
.blue200{background-color:#90CAF9!important}
.blue300{background-color:#64B5F6!important}
.blue400{background-color:#42A5F5!important}
.blue500{background-color:#2196F3!important}
.blue600{background-color:#1E88E5!important}
.blue700{background-color:#1976D2!important}
.blue800{background-color:#1565C0!important}
.blue900{background-color:#0D47A1!important}

/* light blue */
.light_blue50 {background-color:#E1F5FE!important}
.light_blue100{background-color:#B3E5FC!important}
.light_blue200{background-color:#81D4FA!important}
.light_blue300{background-color:#4FC3F7!important}
.light_blue400{background-color:#29B6F6!important}
.light_blue500{background-color:#03A9F4!important}
.light_blue600{background-color:#039BE5!important}
.light_blue700{background-color:#0288D1!important}
.light_blue800{background-color:#0277BD!important}
.light_blue900{background-color:#01579B!important}

/* cyan */
.cyan50 {background-color:#E0F7FA!important}
.cyan100{background-color:#B2EBF2!important}
.cyan200{background-color:#80DEEA!important}
.cyan300{background-color:#4DD0E1!important}
.cyan400{background-color:#26C6DA!important}
.cyan500{background-color:#00BCD4!important}
.cyan600{background-color:#00ACC1!important}
.cyan700{background-color:#0097A7!important}
.cyan800{background-color:#00838F!important}
.cyan900{background-color:#006064!important}

/* teal */
.teal50 {background-color:#E0F2F1!important}
.teal100{background-color:#B2DFDB!important}
.teal200{background-color:#80CBC4!important}
.teal300{background-color:#4DB6AC!important}
.teal400{background-color:#26A69A!important}
.teal500{background-color:#009688!important}
.teal600{background-color:#00897B!important}
.teal700{background-color:#00796B!important}
.teal800{background-color:#00695C!important}
.teal900{background-color:#004D40!important}

/* green */
.green50 {background-color:#E8F5E9!important}
.green100{background-color:#C8E6C9!important}
.green200{background-color:#A5D6A7!important}
.green300{background-color:#81C784!important}
.green400{background-color:#66BB6A!important}
.green500{background-color:#4CAF50!important}
.green600{background-color:#43A047!important}
.green700{background-color:#388E3C!important}
.green800{background-color:#2E7D32!important}
.green900{background-color:#1B5E20!important}

/* light green */
.light_green50 {background-color:#F1F8E9!important}
.light_green100{background-color:#DCEDC8!important}
.light_green200{background-color:#C5E1A5!important}
.light_green300{background-color:#AED581!important}
.light_green400{background-color:#9CCC65!important}
.light_green500{background-color:#8BC34A!important}
.light_green600{background-color:#7CB342!important}
.light_green700{background-color:#689F38!important}
.light_green800{background-color:#558B2F!important}
.light_green900{background-color:#33691E!important}

/* lime */
.lime50 {background-color:#F9FBE7!important}
.lime100{background-color:#F0F4C3!important}
.lime200{background-color:#E6EE9C!important}
.lime300{background-color:#DCE775!important}
.lime400{background-color:#D4E157!important}
.lime500{background-color:#CDDC39!important}
.lime600{background-color:#C0CA33!important}
.lime700{background-color:#AFB42B!important}
.lime800{background-color:#9E9D24!important}
.lime900{background-color:#827717!important}

/* yellow */
.yellow50 {background-color:#FFFDE7!important}
.yellow100{background-color:#FFF9C4!important}
.yellow200{background-color:#FFF59D!important}
.yellow300{background-color:#FFF176!important}
.yellow400{background-color:#FFEE58!important}
.yellow500{background-color:#FFEB3B!important}
.yellow600{background-color:#FDD835!important}
.yellow700{background-color:#FBC02D!important}
.yellow800{background-color:#F9A825!important}
.yellow900{background-color:#F57F17!important}

/* amber */
.amber50 {background-color:#FFF8E1!important}
.amber100{background-color:#FFECB3!important}
.amber200{background-color:#FFE082!important}
.amber300{background-color:#FFD54F!important}
.amber400{background-color:#FFCA28!important}
.amber500{background-color:#FFC107!important}
.amber600{background-color:#FFB300!important}
.amber700{background-color:#FFA000!important}
.amber800{background-color:#FF8F00!important}
.amber900{background-color:#FF6F00!important}

/* orange */
.orange50 {background-color:#FFF3E0!important}
.orange100{background-color:#FFE0B2!important}
.orange200{background-color:#FFCC80!important}
.orange300{background-color:#FFB74D!important}
.orange400{background-color:#FFA726!important}
.orange500{background-color:#FF9800!important}
.orange600{background-color:#FB8C00!important}
.orange700{background-color:#F57C00!important}
.orange800{background-color:#EF6C00!important}
.orange900{background-color:#E65100!important}

/* deep orange */
.deep_orange50 {background-color:#FBE9E7!important}
.deep_orange100{background-color:#FFCCBC!important}
.deep_orange200{background-color:#FFAB91!important}
.deep_orange300{background-color:#FF8A65!important}
.deep_orange400{background-color:#FF7043!important}
.deep_orange500{background-color:#FF5722!important}
.deep_orange600{background-color:#F4511E!important}
.deep_orange700{background-color:#E64A19!important}
.deep_orange800{background-color:#D84315!important}
.deep_orange900{background-color:#BF360C!important}

/* brown */
.brown50 {background-color:#EFEBE9!important}
.brown100{background-color:#D7CCC8!important}
.brown200{background-color:#BCAAA4!important}
.brown300{background-color:#A1887F!important}
.brown400{background-color:#8D6E63!important}
.brown500{background-color:#795548!important}
.brown600{background-color:#6D4C41!important}
.brown700{background-color:#5D4037!important}
.brown800{background-color:#4E342E!important}
.brown900{background-color:#3E2723!important}

/* grey */
.grey50 {background-color:#FAFAFA!important}
.grey100{background-color:#F5F5F5!important}
.grey200{background-color:#EEEEEE!important}
.grey300{background-color:#E0E0E0!important}
.grey400{background-color:#BDBDBD!important}
.grey500{background-color:#9E9E9E!important}
.grey600{background-color:#757575!important}
.grey700{background-color:#616161!important}
.grey800{background-color:#424242!important}
.grey900{background-color:#212121!important}

/* blue grey */
.blue_grey50 {background-color:#ECEFF1!important}
.blue_grey100{background-color:#CFD8DC!important}
.blue_grey200{background-color:#B0BEC5!important}
.blue_grey300{background-color:#90A4AE!important}
.blue_grey400{background-color:#78909C!important}
.blue_grey500{background-color:#607D8B!important}
.blue_grey600{background-color:#546E7A!important}
.blue_grey700{background-color:#455A64!important}
.blue_grey800{background-color:#37474F!important}
.blue_grey900{background-color:#263238!important}

/* black */
.black50 {background-color:#000000!important}
.black100{background-color:#000000!important}
.black200{background-color:#000000!important}
.black300{background-color:#000000!important}
.black400{background-color:#000000!important}
.black500{background-color:#000000!important}
.black600{background-color:#000000!important}
.black700{background-color:#000000!important}
.black800{background-color:#000000!important}
.black900{background-color:#000000!important}

/* white */
.white50 {background-color:#FFFFFF!important}
.white100{background-color:#FFFFFF!important}
.white200{background-color:#FFFFFF!important}
.white300{background-color:#FFFFFF!important}
.white400{background-color:#FFFFFF!important}
.white500{background-color:#FFFFFF!important}
.white600{background-color:#FFFFFF!important}
.white700{background-color:#FFFFFF!important}
.white800{background-color:#FFFFFF!important}
.white900{background-color:#FFFFFF!important}
