/* Used by parallax efect */
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    font-family: 'Roboto', serif;
    font-size: 16px
}

.v-text {
    color: #777!important;
}

/* Custom colors */   
.v-color-accent{color:#fff!important;background-color:#2176ff!important}
.v-color-text-accent{color:#2176ff!important}
.v-color-header{background-color:#616161!important} /* Gray 700 */
.v-color-footer{background-color:#616161!important} /* Gray 700 */
.v-color-grey{background-color:#303845!important}
.v-color-light-grey{background-color:#F5F5F5!important} /* Gray 100 */

/* Override w3 titles sizes */
/* Large screens */
@media screen and (min-width: 601px) {
    h1, h1w {font-size: 42px}
    h2, h2w {font-size: 36px}
    h3, h3w {font-size: 30px}
    h4, h4w {font-size: 24px}
    h5, h5w {font-size: 20px}
    h6, h6w {font-size: 18px}
}

/* Small screens */
@media screen and (max-width: 600px) {
    h1, h1w {font-size: 36px}
    h2, h2w {font-size: 30px}
    h3, h3w {font-size: 24px}
    h4, h4w {font-size: 20px}
    h5, h5w {font-size: 18px}
    h6, h6w {font-size: 16px}
}

/* Titles styles */
h1,h2,h3,h4,h5,h6,h1w,h2w,h3w,h4w,h5w,h6w{
    font-family: "Trebuchet MS", 'Roboto', serif;
    font-weight:300;
    margin:10px 0;
    display: block;
}

/* Use theme-gray color for titles */
h1,h2,h3,h4,h5,h6 {color:#424242!important} /* Gray 800 */
h1w,h2w,h3w,h4w,h5w,h6w {color:#fff!important} /* Gray 800 */

/* change link colors */
a {color:#2176ff}
a:hover {color:#FFCA28}

.v-round-image{width:100%;border-top-left-radius:4px;border-top-right-radius:4px}

.v-padding-small{padding:8px 8px!important}
.v-padding-16h{padding-left: 16px; padding-right: 16px;}