name: CI

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre_commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: j178/prek-action@v1


  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v4


  check_version:
    runs-on: ubuntu-latest
    steps:
      - uses: villoro/vhooks/check_version@1.2.0
        with:
          file: package.json
          path: version


  aspect_ratio_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            images:
              - '.github/scripts/check_aspect_ratio.py'
              - 'public/favicons/**'
              - 'public/images/blog/**'

      - name: Set up Python
        if: steps.changes.outputs.images == 'true'
        uses: actions/setup-python@v4

      - name: Install dependencies
        if: steps.changes.outputs.images == 'true'
        run: pip install pillow loguru click

      - name: Check blog images aspect ratio
        if: steps.changes.outputs.images == 'true'
        run: python .github/scripts/check_aspect_ratio.py --directory public/images/blog --aspect-ratio 16:9

      - name: Check favicons aspect ratio
        if: steps.changes.outputs.images == 'true'
        run: python .github/scripts/check_aspect_ratio.py --directory public/favicons --aspect-ratio 1:1
